@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#titulo_principal{
                background-color: #8B6F1E;
                color: white;
            }

            .titulo_secundario{
                background-color: #2F4F2F;
                color: white;
            }
    
    #layout{
        display: flex;
    }
    
    .rodape{
        text-align: center;
    }

    body{
        background-color:#FFFAAD; /*Cor de Fundo*/
        color: Rgb(0,0,0); /*Cor da fonte*/
        font-family: 'Ubuntu'
    }